@using AlbumTracker.Models

@if (Tracks.Count == 0)
{
    <p class="text-muted">No tracks available.</p>
}
else
{
    <ol class="track-list">
        @foreach (var track in Tracks)
        {
            <li class="track-item">
                <span class="track-name">@track.Name</span>
                @if (track.Duration.HasValue)
                {
                    <span class="track-duration">@track.Duration.Value.ToString(@"m\:ss")</span>
                }
            </li>
        }
    </ol>
}

@code {
    [Parameter, EditorRequired]
    public List<Track> Tracks { get; set; } = [];
}
